{% extends 'base_logueado.html.twig' %}

{% block contenido %}

    <div id="welcome">
        <h1><span><i class="fa fa-list-alt" aria-hidden="true"></i> Listado de reputación </span></h1>
    </div>
    <div class="row">
        <a href="{{ path('reputacion_new') }}" class="btn btn-primary"> Crear reputación</a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                {% if reputaciones is not empty %}
                <thead>
                    <tr>
                        <th><center>Descripcion</center></th>
                        <th><center>Mínimo</center></th>
                        <th><center>Máximo</center></th>
                        <th><center>Acciones</center></th>
                    </tr>
                </thead>
                <tbody>
                {% for reputacion in reputaciones %}
                    <tr>
                        <td><center> {{reputacion.descripcion}}</center></td>
                        <td><center> {{ reputacion.minimo }}</center></td>
                        <td><center> {{reputacion.maximo}}</center></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Acciones<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('reputacion_edit', { 'id': reputacion.id }) }}">Editar</a></li>
                                    <li> <a  href="{{ path('reputacion_delete', { 'id': reputacion.id }) }}">Eliminar</a></li>
                                </ul>
                                </div>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    No se encontraron resultados.
                {% endif %}
                </tbody>
            </table>

{% endblock %}