<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    	<a class="navbar-brand" href="{{path('homepage')}}">Una gauchada</a>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  		<ul class="nav navbar-nav">
		    
		    <li><a href="{{path('favor_index')}}">Favores</a></li>
        {% if app.getUser.getRol == 'ROLE_ADMIN' %}
      		<li><a href="{{path('usuario_index')}}">Ranking de Usuarios</a></li>
          	<li><a href="{{path('compra_index')}}">Ranking de Ganancias</a></li>

        {% endif %}
		    
		    {# <li><a href="#">Favores</a></li>
		    
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Favores<span class="caret"></span></a>
		      <ul class="dropdown-menu">
		        <li><a href="#">Action</a></li>
		        <li><a href="#">Another action</a></li>
		        <li><a href="#">Something else here</a></li>
		        <li role="separator" class="divider"></li>
		        <li><a href="#">Separated link</a></li>
		        <li role="separator" class="divider"></li>
		        <li><a href="#">One more separated link</a></li>
		      </ul>
		    </li> #}
  		</ul> 


      <ul class="nav navbar-nav navbar-right">
        {# <li><a href="#">Link</a></li> #}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{app.getUser}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('usuario_show', {'id':app.getUser.getId})}}">Ver Perfil</a></li>
            <li><a href="{{path('usuario_misPostulaciones', {'id':app.getUser.getId})}}">Mis postulaciones</a></li>
            <li><a href="{{path('usuario_misFavores', {'id':app.getUser.getId})}}">Mis favores</a></li>
            {# <li><a href="{{path('usuario_misCandidaturas', {'id':app.getUser.getId})}}">Mis candidaturas</a></li> #}

            
            {% if app.getUser.getRol == 'ROLE_ADMIN' %}
              <li><a href="{{path('categoria_index')}}">Administrar categoria</a></li>
              <li><a href="{{path('reputacion_index')}}">Administrar reputación</a></li>
              <li><a href="{{path('calificar_index')}}">Administrar calificaciones</a></li>
            {% endif %}

            <li role="separator" class="divider"></li>
            <li><a href="{{ path('usuario_logout')}}"><i class="fa fa-power-off" aria-hidden="true"></i> Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    </div>
</nav>