{% extends 'base_logueado.html.twig' %}

{% block contenido %}
{% if app.session.flashbag.has('aviso_exito') %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
{% for flashMessage in app.session.flashbag.get('aviso_exito') %}
    <p>
        {{ flashMessage }}
    </p>
{% endfor %}
</div>
{% endif %}
    

    <div class="row">
        <h1><i class="fa fa-user-o" aria-hidden="true"></i> Editar mis datos</h1>
    </div>

        {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-xs-6">
                {{form_row(edit_form.email, {'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-xs-6">
                {{form_row(edit_form.password, {'attr':{'class':'form-control'}})}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                {{form_row(edit_form.nombre, {'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-xs-4">
                {{form_row(edit_form.apellido, {'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-xs-4">
                {{form_row(edit_form.documento, {'attr':{'class':'form-control'}})}}
            </div>
        </div>        
        <br>
        <input type="submit" value="Guardar" class="btn btn-block btn-success" />
    {{ form_end(edit_form) }}


{% endblock %}


{% block stylesheets %}

<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}