{% extends 'base_logueado.html.twig' %}

{% block contenido %}
{% if app.session.flashbag.has('aviso_exito') %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
{% for flashMessage in app.session.flashbag.get('aviso_exito') %}
    <p>
        {{ flashMessage }}
    </p>
{% endfor %}
</div>
{% endif %}
    

    <div class="row">
        <h1><i class="fa fa-user-o" aria-hidden="true"></i> Editar mis datos</h1>
    </div>

        {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-xs-6">
                {{form_row(edit_form.email, {'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-xs-6">
                {{form_row(edit_form.password, {'attr':{'class':'form-control', 'value': usuario.password }})}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                {{form_row(edit_form.nombre, {'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-xs-4">
                {{form_row(edit_form.apellido, {'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-xs-4">
                {{form_row(edit_form.telefono, {'attr':{'class':'form-control'}})}}
            </div>
        </div>        
        <br>
        <button type="button" value="Guardar" class="btn btn-block btn-success"  data-toggle="modal" data-target="#myModal">Guardar</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
              </div>
              <div class="modal-body">
                <label>Ingrese su password: </label>
                <input type="password" class="form-control" name="passwordConfirmacion" id="passwordConfirmacion"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
    {{ form_end(edit_form) }}


{% endblock %}
