{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <div class="row">
        <h1><i class="fa fa-user-o" aria-hidden="true"></i> Mis postulaciones</h1>
        <p class="info">Se listan los favores en los que has sido elegido y en los que permaneces como candidato.</p>    
    </div>


        {% for postulacion in postulaciones %}
            <div class="row">
                <div class="col-md-6">
                    <label>Favor:</label>
                    {{postulacion.favor.titulo}}
                </div>
                <div class="col-md-6">
                    <label>Estado</label>
                    {% if postulacion.favor.elegido == app.user %}
                        <span class="alert-success">Elegido</span>
                    {% else %}
                        <span class="alert-warning">Candidato</span>
                        {# <br> #}
                        <a href="{{path('usuario_eliminarPostulacion',{ 'id': postulacion.id})}}" class="btn btn-danger">Despostularme</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Comentario:</label>
                    {{postulacion.comentario}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="{{path('usuario_showAutor', {'id':postulacion.favor.autor.id})}}" class="btn btn-primary">Ver Datos del Autor</a>
                    <a href="{{path('favor_show', {'id':postulacion.favor.id})}}" class="btn btn-warning">Ver Favor</a>
                </div>
            </div>
        <br>
        <hr>
        {% endfor %}


{% endblock %}
