{% extends 'base_logueado.html.twig' %}

{% block contenido %}

    <h1><i class="fa fa-usd" aria-hidden="true"></i> Comprar créditos</h1>

    <div class="row">
    	<p>Usted posee {{usuario.creditos}} créditos.</p>
    	<p>Seleccione a continuación la cantidad de créditos que desea comprar.</p>
    </div>

    <div class="row">
    	{{form_start(form)}}
    	<div class="col-md-6">
    		{{form_row(form.tarjeta, {'attr':{'class':'form-control'}})}}	
    	</div>
    	
    	<div class="col-md-6">
    		{{form_row(form.codigo, {'attr':{'class':'form-control'}})}}
    	</div>

    	<div class="col-md-6">
    		{{form_row(form.cantidad, {'attr':{'class':'form-control'}})}}
    	</div>
    	
    </div>
    <div class="row">
    	<br>
    		{{form_row(form.submit, {'attr':{'class':'btn btn-success'}})}}
    		<br>
    		<a href="{{path('usuario_show', {'id': usuario.id})}}" class=" btn btn-danger"> Cancelar</a>
    	
    </div>
    {{form_end(form)}}
    
{% endblock %}
