    {% extends 'base_logueado.html.twig' %}

{% block contenido %}
{% if app.session.flashbag.has('aviso_exito') %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
{% for flashMessage in app.session.flashbag.get('aviso_exito') %}
    <p>
        {{ flashMessage }}
    </p>
{% endfor %}
</div>
{% endif %}
    <div class="row">
        <h1>
            <i class="fa fa-user-o" aria-hidden="true"></i> Ver Perfil  

            <a href="{{ path('usuario_edit', { 'id': app.user.id }) }}" class="btn btn-warning"> 
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Editar datos
            </a>
        </h1> 
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6">
            <label>Apellido y Nombre</label>
            <p> {{usuario.apellido}}, {{usuario.nombre}}</p>
        </div>
        <div class="col-xs-6">
            <label>Mail</label>
            <p> {{usuario.email}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label>Telefono</label>
            <p>{{usuario.telefono}}</p>
        </div>
        <div class="col-xs-6">
            <label>Creditos</label>
            <p>
                {{usuario.creditos}} 
                <a href="{{path('usuario_newComprar', {'id':usuario.id})}}" class="btn btn-xs btn-success"> Comprar Créditos</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label>Reputacion</label>
            <p>{{usuario.puntaje ? usuario.puntaje : 'Todavía no tienes reputación'}}</p>
        </div>
        <div class="col-xs-4">
            <label>Comentarios</label>
            <a href="#" class="btn btn-primary"> Ver Comentarios</a>
        </div>
        <div class="col-xs-4">
            <label>Calificaciones</label>
            <a href="#" class="btn btn-primary">Ver Calificaciones</a>
        </div>
    </div>


{% endblock %}
{% block stylesheets %}

<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}