{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <h1>Edición de categoría</h1>

    {{ form_start(edit_form) }}
    <div class="row desc">
    	{{ form_row(edit_form.descripcion, {'attr':{'class':'form-control desc'}})}}
    </div>
    <br>
    <input type="submit" value="Guardar" class="btn btn-block btn-success" />
    {{ form_end(edit_form) }}

    <a href="{{ path('categoria_index') }}" class="btn btn-block btn-default">Volver</a>

{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<style type="text/css">
		.desc ul{
			list-style: none;
			color:#a94442;
		}

	</style>

{% endblock %}