{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span><i class="fa fa-list-alt" aria-hidden="true"></i> Listado de favores </span></h1>
            </div>
    <div class="row">
        <a href="{{ path('favor_new') }}" class="btn btn-lg btn-primary"> Crear Favor</a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                {% if favors is not empty %}
                <thead>
                    <tr>
                        <th><center>Titulo</center></th>
                        <th><center>Autor</center></th>
                        <th><center>Categoria</center></th>
                        <th><center>Cant. Postulantes</center></th>
                        <th><center>Estado</center></th>
                        <th><center>Acciones</center></th>
                    </tr>
                </thead>
                <tbody>
                {% for favor in favors %}
                    <tr>
                        <td><center> {{ favor.titulo }}</center></td>
                        <td><center> {{favor.autor.apellido}}, {{favor.autor.nombre}}</center></td>
                        <td><center>{{favor.categoria.descripcion}}</center></td>
                        <td><center>{{favor.candidatos|length}}</center></td>
                        <td>
                            {% if favor.elegido is empty %}
                               <label class="btn btn-xs btn-success"><center> Abierto</center></label>
                            {% else %}
                                <label class="btn btn-xs btn-warning"><center> Con candidato</center></label>
                            {% endif %}
                        </td>
                        <td>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Acciones<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('favor_show', { 'id': favor.id }) }}">Ver detalle</a></li>
                                    <li><a href="{{ path('favor_newPostularse', { 'id': favor.id }) }}">Postularme</a></li>
                                </ul>
                            </div>

                            {# <ul>
                                <li>
                                    <a href="">Ver</a>
                                </li>
                                <li>
                                    <a href="{{ path('favor_postularse', { 'id': favor.id }) }}">Postularse</a>
                                </li>
                            </ul> #}
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    No se encontraron resultados.
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
<style>
    body { background: #FFF; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}  