{% extends 'base_logueado.html.twig' %}

{% block contenido %}
{% if app.session.flashbag.has('aviso_exito') %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
{% for flashMessage in app.session.flashbag.get('aviso_exito') %}
    <p>
        {{ flashMessage }}
    </p>
{% endfor %}
</div>
{% endif %}

<h1><span><i class="fa fa-search" aria-hidden="true"></i> Búsqueda de favor </span></h1>

    {{ form_start(form) }}

    <div class="row">
        <a href="{{ path('favor_new') }}" class="btn  btn-primary"> Crear Favor</a>
    </div>
    <br>
    <div class="row">
        {# <h1><span><i class="fa fa-search" aria-hidden="true"></i> Búsqueda de favor </span></h1> #}


            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-4 ">
                    {{ form_row(form.titulo, {'attr':{'class':'form-control'}}) }}
                </div>
            {# </div> #}
            {# <div class="row"> #}
                <div class="col-md-4 ">
                    {{ form_row(form.localidad, {'attr':{'class':'form-control'}}) }}
                </div>
            {# </div> #}
            {# <div class="row"> #}
                <div class="col-md-4">
                    {{ form_row(form.categoria, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-success" value="Buscar" />
            {# {{ form_widget(form) }} #}
            {{ form_end(form) }}

    </div>

    {% if app.request.method == "POST" %}
        <br>
        <h3><span>Resultado de la búsqueda </span></h3>
        {% if favores != null %}
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th><center></center></th>
                        <th><center>Titulo</center></th>
                        <th><center>Autor</center></th>
                        <th><center>Categoria</center></th>
                        <th><center>Localidad</center></th>
                        <th><center>Cant. Postulantes</center></th>
                        <th><center>Estado</center></th>
                        <th><center>Acciones</center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for favor in favores %}
                            <td class="row">
                                <img src="{{ asset('uploads/favor-fotos/' ~ favor.rutaFoto) }}" alt="" width="100">
                            </td>
                            <td><center> {{ favor.titulo }}</center></td>
                            <td><center> {{favor.autor.apellido}}, {{favor.autor.nombre}}</center></td>
                            <td><center>{{favor.categoria.descripcion}}</center></td>
                            <td><center>{{favor.localidad}}</center></td>
                            <td><center>{{favor.candidatos|length}}</center></td>
                            <td>
                            {% if favor.elegido is empty %}
                               <label class="btn btn-xs btn-success"><center> Abierto</center></label>
                            {% else %}
                                <label class="btn btn-xs btn-warning"><center> Con candidato</center></label>
                            {% endif %}
                            </td>
                            <td><center>
                                <a class="btn-link" href="{{ path('favor_show', { 'id': favor.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a></center> 
                            </td>
                    </tr>
                </tbody>
                        {% endfor %}
            </table>
        {% else %} 
            No se encontraron resultados
        {% endif %}
        <br>


    {% endif %}


{% endblock %}